# Electron下载配置
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR={{ version }}
ELECTRON_CACHE=~/.cache/electron

# npm镜像配置（可选，如果遇到下载问题）
# registry=https://registry.npmmirror.com/
